*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 480px){

}
@media screen and (min-width: 425px){

}
@media screen and (min-width: 414px){

}
@media screen and (min-width: 375px){

}
body{
    margin: auto;
    max-width: 600px;
    font-family: 'Montserrat', sans-serif;
}
#titulo{
    color: #2c829d;
    text-align: center;
}
#subtitulo{
    color: #00bed6;
    text-align: center;
}
#icono{
    width: 15%;
    height: 15%;
    margin-left: 9%;
}
div{
    text-align: left;
}
.mensaje1{
    color: #2c829d;
}
.mensaje2{
    color: #ff6100;
}
#foto{
   margin-top: -25%;
   vertical-align: top;
   width: 55%;
   height: 55%; 
   margin-left: 45%;
   padding: 0;
}
footer{
    background-color: rgb(244, 236, 236);
}
.red{
    margin-top: -10%;
    width: 20%;
    height: 20%;
    text-align: left;
}
#correo{
    display: inline-block;
    font-size:x-large;
    padding-left: 6%;
    padding-right: 6%;
    vertical-align: middle;
    color: #00bed6;
}
#Logo{
    display: inline-block;
    width: 30%;
    height: 30%;
    vertical-align: middle;
}